body {
  font-family: "Times New Roman", serif;
  margin: 0;
  background: #f0f2f5;
}

.hero {
  text-align: center;
  background: linear-gradient(135deg, #cc7000, #ff8c00);
  padding: 30px 20px;
  color: white;
  position: relative;
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 45px;
}

.titulo {
  display: inline-block;
  color: white;
  text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.busqueda {
  margin-top: 15px;
}

#buscador, #filtroUbicacion {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 5px;
}

.contenedor {
  display: flex;
}

.categorias {
  width: 220px;
  background: white;
  padding: 15px;
}

.categorias ul {
  list-style: none;
  padding: 0;
}

.categorias li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.categorias li:hover {
  background: #e0e0e0;
}

/* TARJETAS TIENDAS */
.productos {
  flex: 1;
  padding: 25px;
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.producto {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.btn {
  background: #1f8f3a;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* CATÁLOGO TIENDA */
.tienda-header {
  text-align: center;
  padding: 20px;
  background: #ff8c00;
  color: white;
}

.catalogo-tienda {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
}

.item {
  min-width: 250px;
  background: white;
  border-radius: 12px;
  padding: 10px;
}

.item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
